<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ejemplo Web Components - Botón</title>
  </head>
  <body>
    <my-button type="icon" size="large" state="default">**</my-button>
    <my-button type="primary" size="large" state="default">Submit</my-button>
    <my-button type="secondary" size="medium" state="default">Submit</my-button>
    <my-button type="primary" size="small" state="default">Submit</my-button>
    <my-button type="secondary" size="large" state="default">Submit</my-button>
    <my-button type="primary" size="medium" state="disabled">Submit</my-button>
    <my-button type="secondary" size="small" state="disabled">Submit</my-button>

    <script src="button.js"></script>
  </body>
</html>
